#Flavour{
  text-align: center;
  color: blue;
  text-shadow: 100px;
}
body{
  background-repeat: no-repeat;
  background-size: cover;
}
#output{
  color: chartreuse;
  text-transform: capitalize;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}